*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body{
	cursor:url(../images/head.png),auto;
	width: 100%;
	background: #a9e7ff;
}

#update{
	position: absolute;
	margin: 10px;
	padding: 0 20px;
	width: 100%;
	height: 30px;
	background: #171c61;
	color: #fff;
	font-size: 16px;
	line-height: 27px;
}

.banner{
	position: relative;
	width: 100vw;
    height: 100vh;
}

.parallax-layer{
	position: absolute;
	width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

.bannerIcon{
	position: absolute;
	width: 14vw;
	top: 28vh;
	left: 43vw;
	border-radius: 50%;
	background: #a9e7ff;
	border: 2px solid #171c61;

}

.bannerbg{
	opacity:0.5;
	position: absolute;
	width: 100vh;
	z-index: -1;
}

.bannerTitle{
	position: absolute;
	left: 65vw;
	top: 28vh;
	line-height: 7vw;
	font-size: 4vw;
	background: #a9e7ff;
	color: #171c61;
	border: 2px solid #171c61;
    text-align-last:justify;
}

.bannerTitle > p:last-child{
	font-size: 3vw;
}

.info{
	position: absolute;
	font-size: 14px;
	opacity:0.6;
	color: #171c61;
	line-height: 28px;
	top: 40px;
	width: 30vw;
	height: 10vh;
	margin: 10px;
	padding: 20px;
	border: 1px solid #171c61;
	overflow:hidden;
	z-index: 999;
	transition:height 0.5s;
	-moz-transition:height 0.5s;
	-webkit-transition:height 0.5s;
	-o-transition:height 0.5s;
}

.info:hover{
	overflow:scroll;
	height: 60vh;
}

.menu{
	position: absolute;
	top: 80vh;
	width: 100%;
}

.menu>ul{
	margin:0 auto;
	list-style-type:none;
	display: table;
	text-align: center;
}

.menu>ul>li{
	float: left;
}

#mover>li>img{
	width: 10vh;
	height: 10vh;
	margin: 0 5vh;
	border-radius: 50%;
	border: 2px solid #171c61;
}

#mover>li>div{
	position: absolute;
	/* display:none; */
	opacity:0.75;
	width: 10vh;
	height: 10vh;
	margin: 0 5vh;
	border-radius: 50%;
	/* background: #171c61; */
	border: 2px solid #171c61;
	color: #fff;
	font-size: 1.5vh;
	text-align: center;
	font-weight: bold;
	line-height: 10vh;

	box-shadow: 0px 5px 10px #597397;
	transition:box-shadow 0.5s;
	-moz-transition:box-shadow 0.5s;
	-webkit-transition:box-shadow 0.5s;
	-o-transition:box-shadow 0.5s;
}

#mover>li>div:hover{
	box-shadow: 0px 10px 30px #597397;
}